{%  block app__user__update_info %}
    <div class="modal fade" id="user-update-info" tabindex="-1" role="dialog" aria-labelledby="user-update-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="user-update-modal-label">Информационное сообщение</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Данные успешно обновлены</div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" data-dismiss="modal">Ок</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}